<ion-header [translucent]="true">
  <ion-back-button>   
  </ion-back-button>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Editar</ion-title>
    </ion-toolbar>
  </ion-header>
  <form>
    <ion-card>
    <ion-card-header>
      <ion-card-title>Perfil</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!--se crea el campo de usuario-->
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input [(ngModel)]="Nombre"  value="{{nomb}}"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input [(ngModel)]="password" type="password" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Telefono</ion-label>
          <ion-input [(ngModel)]="telefono"  value="{{telef}}" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Dirección</ion-label>
          <ion-input [(ngModel)]="direccion" value="{{dire}}" required></ion-input>
        </ion-item>
        <ion-list>
        <ion-item>
        <ion-select [(ngModel)]="comunac" aria-label="comunas" value="{{comun}}">
        <ion-select-option value="Cerro Navia">Cerro Navia</ion-select-option>
        <ion-select-option value="Maipu">Maipu</ion-select-option>
        <ion-select-option value="Providencia">Providencia</ion-select-option>
        </ion-select>
        </ion-item>
        </ion-list>
      <br>
      <ion-button expand="block" (click)="actualizar()">
        Actualizar
      </ion-button>
    </ion-card-content>
    </ion-card>
    </form>
</ion-content>
