<ion-header [translucent]="true">
  <ion-toolbar class="new-background-color">
    <ion-title size="large" >Ticket</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="formularioTicket">
    <ion-card>
    <ion-card-header>
      <ion-card-title>Formulario</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!--se crea el campo de usuario-->
      <ion-label position="floating">Objeto de Reciclaje</ion-label>
      <ion-list>
        <ion-item>
        <ion-select  aria-label="Objetos" placeholder="Objetos" formControlName="objetos">
        <ion-select-option value="Papel">Papel</ion-select-option>
        <ion-select-option value="Plastico">Plastico</ion-select-option>
        <ion-select-option value="Carton">Carton</ion-select-option>
        <ion-select-option value="Otros">Otros</ion-select-option>
        </ion-select>
        </ion-item>
      </ion-list>
      <ion-item>
        <ion-label  position="floating">Cantidad</ion-label>
        <ion-input type="number" required formControlName="cantidad"></ion-input>
      </ion-item>
        <ion-item>
          <ion-label  position="floating">Dirección</ion-label>
          <ion-input type="text" required formControlName="direccion"></ion-input>
        </ion-item>
        <ion-label position="floating">Tamaño</ion-label>
      <ion-list>
        <ion-item>
        <ion-select  aria-label="Dims" placeholder="Tamaño" formControlName="dimensiones">
        <ion-select-option value="Grande">Grande</ion-select-option>
        <ion-select-option value="Mediano">Mediano</ion-select-option>
        <ion-select-option value="Pequeño">Pequeño</ion-select-option>
        </ion-select>
        </ion-item>
      </ion-list>
      <ion-button expand="block" (click)="takePicture()">
      Foto del Objeto/s
      </ion-button>
      <div class="img">
      <img [src]="getPhoto()" />
    </div>
      <br>
      <ion-button expand="block" (click)="crearTicket()">
        Enviar ticket
      </ion-button>
      <br>
      <ion-button expand="block" [routerLink]="['/usuario']">
        Volver
      </ion-button>
    </ion-card-content>
  </ion-card>
    </form>
</ion-content>
