<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true" class="background">
  <ion-segment color="warning" [(ngModel)]="selectTabs">
    <ion-segment-button value="Cliente">
      <ion-label>Cliente</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Empresa">
      <ion-label>Empresa</ion-label>
    </ion-segment-button>
  </ion-segment>
  <!--Cuadro del login formato card-->
  <div style="height: 70%; display: flex; align-items: center; justify-content: center;">
   <ion-card *ngIf="selectTabs == 'Cliente'" class="card-center" >
    <ion-card-content>
        <ion-item>
          <ion-label position="floating">Usuario</ion-label>
          <ion-input type="text"
          [(ngModel)]="email"
          required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input [(ngModel)]="pass"
          type="password" required></ion-input>
        </ion-item>
      <br>
      <ion-button expand="block" (click)="Cuentav()">
        Ingresar
      </ion-button>
      <ion-button expand="block" [routerLink]="['/registro']">
        Registro
      </ion-button>
    </ion-card-content>
  </ion-card>
  <!--Empieza la tabla empresa-->
  <ion-card *ngIf="selectTabs == 'Empresa'" class="card-center">
    <ion-card-content>
        <ion-item>
          <ion-label position="floating">Usuario</ion-label>
          <ion-input type="email"
          [(ngModel)]="emailEmp"
          required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" 
          [(ngModel)]="passEmp"
          required></ion-input>
        </ion-item>
      <br>
      <ion-button type="submit" expand="block" (click)="CuentaE()">
        Ingresar
      </ion-button>
      <ion-button expand="block" [routerLink]="['/registro']">
        Registro
      </ion-button>
    </ion-card-content>
  </ion-card>
  </div>
</ion-content>
