ion-content {
    --background: url('../img/FondoFom.png') no-repeat center center / cover;
    background-size: cover;
  }
  ion-card{
    --background: #237300;
    height: 40%;
  }
  ion-button{
    --background: #e1f45350;
  }
  ion-item{
    --background: #237300;
  }
  ion-segment {
    --background: #237300;
  }